*.cache
Dota2TextToSpeech/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Dota2TextToSpeech/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Dota2TextToSpeech/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Dota2TextToSpeech/obj/Debug/Dota2TextToSpeech.csproj.FileListAbsolute.txt
*.pdb
*.exe
*.metagen
*.exp
*.ilk
Debug/Dota2ChatDLL.lib
*.opensdf
*.sdf
*.suo
*.config
*.manifest
Dota2TextToSpeech/bin/Debug/Dota2ChatDLL.dll
ipch/dota2chatdll-f71c01af/dota2chatdll-db5c7042.ipch
Debug/Dota2ChatDLL.dll
*.lastbuildstate
*.obj
*.tlog
*.log
*.pch
*.bi